test.json
{
  "name": "POST Name Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "name",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      name: $json.name || \"unknown\",\n      length: ($json.name || \"\").length,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Process Data", "type": "main", "index": 0 }]]
    },
    "Process Data": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
