test.json
{
  "name": "Hello Webhook Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hello",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello from n8n 🚀"
            },
            {
              "name": "time",
              "value": "={{$now}}"
            }
          ]
        }
      },
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Response", "type": "main", "index": 0 }]]
    },
    "Set Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
